In [1]:
import pingouin as pg
import pandas as pd
import numpy as np

In [2]:
df_ab = pd.read_csv('./airflow_significance/anova_all_areas_final.csv')

In [3]:
df_ab.head()

  area_name  order_date     variant  orders
0   Salmiya  2023-03-10  Variation2     430
1   Salmiya  2023-03-10  Variation1     398
2   Salmiya  2023-03-10  Variation3     375
3   Salmiya  2023-03-03  Variation1     366
4   Salmiya  2023-03-11  Variation2     362

In [5]:
areas=df_ab['area_name'].drop_duplicates()
areas=areas.dropna()
areas

0                                Salmiya
9                         Sabah Al-Salem
37                                 Salwa
169             Jahra - Saad Al Abdullah
190                              Jabriya
                      ...
19594                      Mina Abdullah
19686                          Nuwaiseeb
19702                  Sabhan Industrial
19720    Sheikh Saad Al Abdullah Airport
20005                              Wista
Name: area_name, Length: 133, dtype: object

In [6]:
an=pd.DataFrame()
for ar in areas:
    a=df_ab[df_ab['area_name']==ar]
    post_hoc_results = pg.welch_anova(a[['variant', 'orders']], dv='orders', between='variant').copy()
    post_hoc_results['area_name']=ar
    an=pd.concat([an,post_hoc_results])

C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1349: RuntimeWarning: invalid value encountered in double_scalars
  ms_betadj = ss_betadj / ddof1
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1352: RuntimeWarning: invalid value encountered in double_scalars
  lamb = (3 * np.sum((1 / (grp.count() - 1)) * (1 - (weights / weights.sum())) ** 2)) / (
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1357: RuntimeWarning: invalid value encountered in double_scalars
  np2 = ss_bet / (ss_bet + ss_res)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1356: RuntimeWarning: divide by zero encountered in double_scalars
  pval = f.sf(fval, ddof1, 1 / lamb)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1364: RuntimeWarning: divide by zero encountered in double_scalars
  "ddof2": 1 / lamb,
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1356: RuntimeWarning: divide by zero encountered in double_scalars
  pval = f.sf(fval, ddof1, 1 / lamb)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1357: RuntimeWarning: invalid value encountered in double_scalars
  np2 = ss_bet / (ss_bet + ss_res)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1364: RuntimeWarning: divide by zero encountered in double_scalars
  "ddof2": 1 / lamb,
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1349: RuntimeWarning: invalid value encountered in double_scalars
  ms_betadj = ss_betadj / ddof1
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1352: RuntimeWarning: invalid value encountered in double_scalars
  lamb = (3 * np.sum((1 / (grp.count() - 1)) * (1 - (weights / weights.sum())) ** 2)) / (
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1357: RuntimeWarning: invalid value encountered in double_scalars
  np2 = ss_bet / (ss_bet + ss_res)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1349: RuntimeWarning: invalid value encountered in double_scalars
  ms_betadj = ss_betadj / ddof1
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1352: RuntimeWarning: invalid value encountered in double_scalars
  lamb = (3 * np.sum((1 / (grp.count() - 1)) * (1 - (weights / weights.sum())) ** 2)) / (
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1357: RuntimeWarning: invalid value encountered in double_scalars
  np2 = ss_bet / (ss_bet + ss_res)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1356: RuntimeWarning: divide by zero encountered in double_scalars
  pval = f.sf(fval, ddof1, 1 / lamb)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1357: RuntimeWarning: invalid value encountered in double_scalars
  np2 = ss_bet / (ss_bet + ss_res)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1364: RuntimeWarning: divide by zero encountered in double_scalars
  "ddof2": 1 / lamb,
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1356: RuntimeWarning: divide by zero encountered in double_scalars
  pval = f.sf(fval, ddof1, 1 / lamb)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1357: RuntimeWarning: invalid value encountered in double_scalars
  np2 = ss_bet / (ss_bet + ss_res)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1364: RuntimeWarning: divide by zero encountered in double_scalars
  "ddof2": 1 / lamb,
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1349: RuntimeWarning: invalid value encountered in double_scalars
  ms_betadj = ss_betadj / ddof1
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1352: RuntimeWarning: invalid value encountered in double_scalars
  lamb = (3 * np.sum((1 / (grp.count() - 1)) * (1 - (weights / weights.sum())) ** 2)) / (
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1357: RuntimeWarning: invalid value encountered in double_scalars
  np2 = ss_bet / (ss_bet + ss_res)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1356: RuntimeWarning: divide by zero encountered in double_scalars
  pval = f.sf(fval, ddof1, 1 / lamb)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1357: RuntimeWarning: invalid value encountered in double_scalars
  np2 = ss_bet / (ss_bet + ss_res)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1364: RuntimeWarning: divide by zero encountered in double_scalars
  "ddof2": 1 / lamb,
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1349: RuntimeWarning: invalid value encountered in double_scalars
  ms_betadj = ss_betadj / ddof1
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1352: RuntimeWarning: invalid value encountered in double_scalars
  lamb = (3 * np.sum((1 / (grp.count() - 1)) * (1 - (weights / weights.sum())) ** 2)) / (
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1357: RuntimeWarning: invalid value encountered in double_scalars
  np2 = ss_bet / (ss_bet + ss_res)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1343: RuntimeWarning: invalid value encountered in double_scalars
  adj_grandmean = (weights * grp.mean()).sum() / weights.sum()
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1349: RuntimeWarning: invalid value encountered in double_scalars
  ms_betadj = ss_betadj / ddof1
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1352: RuntimeWarning: invalid value encountered in double_scalars
  lamb = (3 * np.sum((1 / (grp.count() - 1)) * (1 - (weights / weights.sum())) ** 2)) / (
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\parametric.py:1357: RuntimeWarning: invalid value encountered in double_scalars
  np2 = ss_bet / (ss_bet + ss_res)

In [7]:
an

,Source,ddof1,ddof2,F,p-unc,np2,area_name
0,variant,5,80.453783,2.487208,3.800132e-02,0.059861,Salmiya
0,variant,5,79.095558,11.613410,1.989752e-08,0.184108,Sabah Al-Salem
0,variant,5,79.387421,10.705240,6.941782e-08,0.186628,Salwa
0,variant,5,79.275260,0.775932,5.699514e-01,0.019731,Jahra - Saad Al Abdullah
0,variant,5,79.195296,3.410709,7.657680e-03,0.078884,Jabriya
...,...,...,...,...,...,...,...
0,variant,2,inf,0.000000,1.000000e+00,NaN,Mina Abdullah
0,variant,0,NaN,NaN,NaN,NaN,Nuwaiseeb
0,variant,2,inf,0.000000,1.000000e+00,NaN,Sabhan Industrial
0,variant,0,NaN,NaN,NaN,NaN,Sheikh Saad Al Abdullah Airport
0,variant,0,NaN,NaN,NaN,NaN,Wista

In [8]:
gh=pd.DataFrame()
for ar in areas:
    b=df_ab[df_ab['area_name']==ar]
    pgh = pg.pairwise_gameshowell(b[['variant', 'orders']], dv='orders', between='variant',
                                                               effsize='hedges').copy()
    pgh['area_name']=ar
    gh=pd.concat([gh,pgh[0:5]])

C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\pairwise.py:1056: RuntimeWarning: invalid value encountered in true_divide
  tval = mn / np.sqrt(gvars[g1] / n[g1] + gvars[g2] / n[g2])
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\pairwise.py:1057: RuntimeWarning: invalid value encountered in true_divide
  df = (gvars[g1] / n[g1] + gvars[g2] / n[g2]) ** 2 / (
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\effsize.py:804: RuntimeWarning: invalid value encountered in double_scalars
  d = (x.mean() - y.mean()) / poolsd
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\effsize.py:803: RuntimeWarning: Degrees of freedom <= 0 for slice
  poolsd = np.sqrt(((nx - 1) * x.var(ddof=1) + (ny - 1) * y.var(ddof=1)) / dof)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\numpy\core\_methods.py:254: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\pairwise.py:1056: RuntimeWarning: invalid value encountered in true_divide
  tval = mn / np.sqrt(gvars[g1] / n[g1] + gvars[g2] / n[g2])
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\pairwise.py:1057: RuntimeWarning: invalid value encountered in true_divide
  df = (gvars[g1] / n[g1] + gvars[g2] / n[g2]) ** 2 / (
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\effsize.py:804: RuntimeWarning: invalid value encountered in double_scalars
  d = (x.mean() - y.mean()) / poolsd
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\pairwise.py:1056: RuntimeWarning: invalid value encountered in true_divide
  tval = mn / np.sqrt(gvars[g1] / n[g1] + gvars[g2] / n[g2])
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\pairwise.py:1057: RuntimeWarning: invalid value encountered in true_divide
  df = (gvars[g1] / n[g1] + gvars[g2] / n[g2]) ** 2 / (
C:\Users\elijah.paul\Anaconda3\lib\site-packages\pingouin\effsize.py:804: RuntimeWarning: invalid value encountered in double_scalars
  d = (x.mean() - y.mean()) / poolsd

ValueError: not enough values to unpack (expected 2, got 0)

In [10]:
gh

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges,area_name
0,Control,Variation1,257.933333,270.700000,-12.766667,13.459867,-0.948499,57.574341,0.931903,-0.241721,Salmiya
1,Control,Variation2,257.933333,271.866667,-13.933333,15.456923,-0.901430,53.007051,0.944445,-0.229726,Salmiya
2,Control,Variation3,257.933333,256.166667,1.766667,14.351500,0.123100,55.853706,0.999996,0.031371,Salmiya
3,Control,Variation4,257.933333,235.068966,22.864368,11.915218,1.918921,55.764694,0.401784,0.49156,Salmiya
4,Control,Variation5,257.933333,238.433333,19.500000,14.717151,1.324985,54.952781,0.770014,0.337667,Salmiya
...,...,...,...,...,...,...,...,...,...,...,...
0,Control,Variation1,1.333333,1.142857,0.190476,0.362656,0.525226,2.771005,0.990227,0.3942,Magwa
1,Control,Variation2,1.333333,1.200000,0.133333,0.388730,0.342997,3.474080,0.998727,0.234504,Magwa
2,Control,Variation3,1.333333,1.250000,0.083333,0.416667,0.200000,4.032258,0.999913,0.131837,Magwa
3,Control,Variation4,1.333333,1.000000,0.333333,0.333333,1.000000,2.000000,0.886611,1.042955,Magwa
4,Control,Variation5,1.333333,1.000000,0.333333,0.333333,1.000000,2.000000,0.886611,0.514259,Magwa

In [13]:

gh['p_corr'] = pg.multicomp(gh['pval'].to_numpy(), alpha=0.05, method='bonf')[1]
gh.head()

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges,area_name,p_corr
0,Control,Variation1,257.933333,270.700000,-12.766667,13.459867,-0.948499,57.574341,0.931903,-0.241721,Salmiya,1.0
1,Control,Variation2,257.933333,271.866667,-13.933333,15.456923,-0.901430,53.007051,0.944445,-0.229726,Salmiya,1.0
2,Control,Variation3,257.933333,256.166667,1.766667,14.351500,0.123100,55.853706,0.999996,0.031371,Salmiya,1.0
3,Control,Variation4,257.933333,235.068966,22.864368,11.915218,1.918921,55.764694,0.401784,0.49156,Salmiya,1.0
4,Control,Variation5,257.933333,238.433333,19.500000,14.717151,1.324985,54.952781,0.770014,0.337667,Salmiya,1.0

In [14]:
from pathlib import Path  
filepath = Path('./airflow_significance/anova_op2.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
an.to_csv(filepath)

In [15]:
from pathlib import Path  
filepath = Path('./airflow_significance/ghowell_op2.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
gh.to_csv(filepath)

       area_name  order_date     variant  orders
30084  Nuwaiseeb  2023-02-26  Variation2       1

In [8]:
an

Empty DataFrame
Columns: []
Index: []